# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# EXCEPTION: Include vendored static libraries in third_party
!third_party/lib/*.a

# Executables
*.exe
*.out
*.app

# Data files
data/
downloads/

# Environment variables
.env
.env.local

# Python
.venv/
__pycache__/
*.pyc
*.pyo
*.pyd

# Build artifacts
build/
**/build/
**/build_binance/
**/build_consumer/
dist/
*.egg-info/

# C++ build files
/apps/
/install/
src/install/

# Docker
.dockerignore

# IDEs
.vscode/
.idea/
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
python/research/ml/
# Build artifacts
**/buildxx/
**/build/
*.o
*.a
cmd
bcmd
cmdx

# Mac system files
**/.DS_Store

# Test data
**/test0/

# Compiled binaries
cpp/src/**/mock_*
cpp/src/**/parquet_reader
cpp/src/**/test_*
