# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

# Data files
data/
downloads/

# Python
.venv/
__pycache__/
*.pyc
*.pyo
*.pyd

# Build artifacts
build/
dist/
*.egg-info/

# C++ build files
/apps/bin/
/apps/lib/
/install/

# Docker
.dockerignore

# IDEs
.vscode/
.idea/
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
